# =========================
# Build folders
# =========================
bin/
obj/

# =========================
# JetBrains Rider
# =========================
.idea/
*.sln.iml

# =========================
# Visual Studio
# =========================
.vs/
*.user
*.suo

# =========================
# macOS
# =========================
.DS_Store

# =========================
# Release / Publish folders
# =========================
Releases/
publish/
artifacts/

# =========================
# SQLite
# =========================
*.db
*.db-shm
*.db-wal
*.sqlite
*.sqlite3

# =========================
# Logs
# =========================
*.log

# =========================
# NuGet
# =========================
packages/
*.nupkg

# =========================
# App packages/installers
# =========================
*.msi
*.exe
*.dmg
*.pkg

# =========================
# Temporary files
# =========================
tmp/
temp/

# =========================
# Test Results
# =========================
TestResults/